@charset "utf-8";

h1 { 
	color: rgb(0,90,156); 
	font-variant:small-caps;
}
h2 { font-size: 140%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }



body {
    font-family: arial, helvetica, sans-serif;
    color: black;
    background: white;        
}

.code-example    
{
	font-size: small;
	font-family: "Lucida Console", "Courier New", Courier, Monaco, monospace;
	background-color: #FFFFCC;
	padding: 10 px;
	border: solid 1px #000;
	border-collapse: collapse;
	border-spacing: 10 px;
	padding: 1em;
	margin-left: 2em;
}

.warning    
{
	font-size: 0.75em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFEEFF;
	margin: 4 em;
	padding: 10 px;
	border: solid 1px #000;
	border-collapse: collapse;
	border-spacing: 10 px;
	padding: 1em;
}
